*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*-----------------------------------------------------------Estilo titulos principales-----------------------------------------------------------*/
h2{
    text-align: center;
    padding: 10px;
    color: white;
    text-shadow: 0 0 5px #fff200, 0 0 10px #fff200, 0 0 20px #ffcc00;
}
/*-----------------------------------------------------------Estilo titulos principales-----------------------------------------------------------*/


/*-----------------------------------------------------------Barra de navegacion-----------------------------------------------------------*/

header{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: black;
    background-size: auto;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 10px;
    z-index: 9999;
}

header.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #111; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.barranav ul li{
    list-style: none;
    display: inline-block;
    font-size: 18px ;
    padding-right: 20px;
    text-shadow: 0 0 10px white;
    margin-inline-start: 10px;
}

.barranav a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    text-shadow: white;
    padding: 5px;
    background-color: black;
    border-radius: 7px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.barranav a:hover{
    color: yellow;
    background-color: #222;
    transform: scale(1.05);
}

/*-----------------------------------------------------------Barra de navegacion-----------------------------------------------------------*/

main {
    background-color: black;
    align-items: center;
    padding-top: 80px;
}

.sec{
    height: 700px;
    background-color: #222;
}

/*-----------------------------------------------------------Estilo Footer-----------------------------------------------------------*/

footer{
    background-color:black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.redes a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.redes a:hover{
    color: yellow;
}

/*-----------------------------------------------------------Estilo Footer-----------------------------------------------------------*/



.descripcion-texto {
    color: #ffffcc;
    text-shadow: 0 0 5px #ffff99;
    font-size: 14px;
    text-align: center;
    max-width: 180px;
    line-height: 1.6;
    border: 5px solid black;
    padding: 10px;
    line-height: 1,6px;
    border-radius: 8px;
    background-color: #000;
}

.sec4{
    background-image: url(images/estudio.jpg);
    background-size: cover;
    background-position: center;
}

.sec1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #222;
    padding: 20px;
    gap: 30px;
    margin-top: 0; 
}

.beat {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    width: 240px;
    margin: 20px;
    flex-direction: column;
} 
.foto1, .foto2, .foto3, .foto4 {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 4px solid black;
    box-shadow: 0 0 5px #fff200, 0 0 10px #fff200, 0 0 20px #ffcc00;
}

.foto1 {
    background-image: url(images/haki.jpg);
}
.foto2 {
    background-image: url(images/icube.jpg);
}
.foto3 {
    background-image: url(images/sanan.jpg);
}
.foto4 {
    background-image: url(images/geazy.jpg);
}

.descripcion {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    width: 100%;
    margin-bottom: 100px;
}

.descripcion:hover {
    color: yellow;
    transform: scale(1.05);
    filter: brightness(1.1);
    transition: 0.3s ease;
    padding: 10px 10px;
}

.sec2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    padding: 20px;
}

.beat {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    width: 220px;
} 

.foto5, .foto6, .foto7 {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border: 4px solid black;
    box-shadow: 0 0 5px #fff200, 0 0 10px #fff200, 0 0 20px #ffcc00;
}

.foto5{
    background-image: url(images/worap.jpg);
}

.foto6{
    background-image: url(images/tony.jpg);
}

.foto7{
    background-image: url(images/nada\ mejor.jpg);
}

.imagenlogo{
    height: 70px;
    width: 70px;
    padding: 5px;
    margin-bottom: 1%;
    border-radius: 15px;
} 



.parrafosobremi{
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 15px;
    margin: 30px;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
}

.texto-superpuesto{ 
    width: 60%;
    float: inline-start;
}

.sec4 a{
    color: white;
    opacity: 1;
    text-decoration: none;
    padding: 20px 10px;
    border-radius: 7px;
}

.sec4 a:hover{
    color: yellow;
}

.spotify-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    margin: 10px auto;
    display: block;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.spotify-button:hover {
    background-color: #1ed760;
}

.spotify-link {
    text-align: center;
    display: block;
    text-decoration: none;
}

